* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: url("./background.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: rgb(255, 255, 255);
    margin: 0;
}

#topBar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    text-align: center;
    padding: 10px;
    font-size: 14px;
    z-index: 10;
}

.container {
    background: rgba(27, 180, 47, 0.18);
    padding: 40px 35px;
    border-radius: 14px;
    text-align: center;
    width: 320px;
}

.timer {
    font-size: 64px;
    margin: 20px 0;
}

.controls {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin-bottom: 20px;
}

.controls button {
    padding: 10px 22px;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

.controls button:hover {
    opacity: 0.9;
}

.settings {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.settings div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings label {
    font-size: 14px;
    margin-bottom: 5px;
}

.settings input {
    width: 80px;
    text-align: center;
    padding: 6px;
    border-radius: 5px;
    border: none;
}